<div class="article-card-container">
  <h2><%= @article.title %></h2>
  <p> <%= @article.content %>
  <br>
      <%= link_to edit_article_path(@article) do %><i class="fa-regular fa-pen-to-square"></i><% end %>
      <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
            <i class="fa-regular fa-trash-can"></i>
          <% end %>
  <%= link_to "Back to all articles", articles_path %>
</div>
